<div class="container-card">
  <% @listings.each do |listing| %>
  <div class="card bg-light mb-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= listing.name %></h5>
      <p class="card-text"><%= listing.description %></p>
      <%= link_to 'Preview', listing_path(listing), :class=>"btn btn-primary" %>
    </div>  
  </div>
  <% end %>
</div>

<div class="container-card">
  <% @listings.each do |listing| %>
  <div class="card bg-light mb-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= listing.name %></h5>
      <p class="card-text"><%= listing.description %></p>
      <%= link_to 'Preview', listing_path(listing), :class=>"btn btn-primary" %>
    </div>  
  </div>
  <% end %>
</div>

<div class="container-card">
  <% @listings.each do |listing| %>
  <div class="card bg-light mb-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= listing.name %></h5>
      <p class="card-text"><%= listing.description %></p>
      <%= link_to 'Preview', listing_path(listing), :class=>"btn btn-primary" %>
    </div>  
  </div>
  <% end %>
</div>
>>>>>>> master
