
  <!-- Background image -->
  <%# <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('https://miro.medium.com/max/2560/1*fenBrqNDWKFrM4jPPNJ5Ng.png');
      height: 400px;
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Fictional Helperz</h1>
          <a class="btn btn-outline-light btn-lg" href="#!" role="button"
            >Book a listing</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header> %>

<%# <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://miro.medium.com/max/2560/1*fenBrqNDWKFrM4jPPNJ5Ng.png" alt="First slide">
    </div>
  </div>
</div> %>

  <!-- Jumbotron -->
<header class="masthead">
  <div class="container2 h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <%# <h1 class="font-weight-light">Fictional Helperz</h1>
        <p class="lead">Book your services, today!</p> %>
        <div class="btn-jumbotron text-center">
          <%= link_to 'Create a Fictional Listing', new_listing_path, :class=>"btn purple" %>
        </div>
      </div>
    </div>
  </div>
</header>
  <!-- Jumbotron -->



<div class="container-old h-100">
<% @listings.each do |listing| %>
    <div class="column">
      <% if listing.photo.attached? %>
      <div class="card gr-1" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path listing.photo.key, crop: :fill %>')">
        <% else %>
        <div class="card gr-1">
        <% end %>
        <div class="txt">
          <h1><%= listing.name %></h1>
          <p><%= listing.price %></p>
        </div>
        <%= link_to 'Preview', listing_path(listing) %>
      </div>
    </div>
    <% end %>
</div>

