<div class="container">
  <div class="wrapper">
      <div class="row">
        <div class="form-group col-sm-8">
            <div class="form">
              <%= simple_form_for [@listing, @booking] do |f| %>
              <%= f.input :start_date, as: :date, html5: true %>
              <%= f.input :end_date, as: :date, html5: true %>
              <%= f.submit %>
              <% end %>
                <%= link_to "Back", listings_path %>
            </div>
            <div>

            </div>
        </div>
      </div>
    </div>
</div>






