<div class="card-product">
  <div class="card-product-infos">
    <h2><%= @listing.name %></h2>
    <p><%= @listing.description %></p>
  </div>
</div>


<%= simple_form_for [@listing, @booking] do |f| %>
<%= f.input :start_date %>  
<%= f.submit %>
<% end %> 
