<% if user_signed_in?  %>
  <%= current_user.email %>
<% end %>

<h2>Dashboard</h2>
<h1><%= current_user.username.capitalize %></h1>

<section>
  <header>
    <h1 class="h3">My Services</h1>
  </header>
  <ol class="list-group">
    <% @listings.each do |listing| %>
      <li class="list-group-item">
        <h3 class="text-dark">Listings title: <%= listing.name %></h3>
        <h3 class="text-dark">Description: <%= listing.description %> </h3>
        <h4><%= link_to 'Show', listing_path(listing)%></h4>
        <% if current_user == listing.user %>
        <h4><%= link_to 'Edit', edit_listing_path(listing)%></h4>
        <h4><%= link_to 'Delete', listing, method: :delete, data: { confirm: 'Are you sure?'}%></h4>
        <% end %>
      </li>
  <% end %>
      <%= link_to "New service", new_listing_path, class: "btn btn-info btn-sm", id: "button" %>
  </ol>
</section>

<section>
  <header>
<h1 class="h3">Service Requests</h1>
  </header>

<ul class="list-group">
<% @requests.each do |request|  %>
  <% if request.status == nil && request.listing.user_id == current_user.id %>
    <li>Service: <%= request.listing.name %></li>
    <li>When: <%= request.start_date.strftime("%A, %B #{request.start_date.day.ordinalize} %Y") %></li>
    <li>Who's asking: <%= request.user.email %> </li>
    <li><%= link_to "Accept", booking_path(request.id), method: :patch, class: "btn btn-success btn-sm", id: "button" %>
    <%= link_to "Decline", booking_path(request.id), method: :delete, class: "btn btn-danger btn-sm", id: "button" %>
    </li>
  <% end %>
<% end %>
</ul>
</section>

<section>
  <header>
<h1 class="h3">Upcoming Services</h1>
  </header>

<ul class="list-group">
<% @requests.each do |request|  %>
  <% if request.status && request.listing.user_id == current_user.id %>
    <li>Service: <%= request.listing.name %></li>
    <li>When: <%= request.start_date.strftime("%A, %B #{request.start_date.day.ordinalize} %Y") %></li>
    <li>Who's asking: <%= request.user.email %> </li>
    <br>
  <% end %>
<% end %>
</ul>
</section>

<section>
  <header>
<h1 class="h3">Accepted Bookings</h1>
  </header>

<ul>
<% @bookings.each do |booking|  %>
  <% if booking.status && booking.start_date > Time.now %>
    <li>Service: <%= booking.listing.name %></li>
    <li>Service: <%= booking.listing.id %></li>
    <li>When: <%= booking.start_date.strftime("%A, %B #{booking.start_date.day.ordinalize} %Y") %> </li>
    <li>By: <%= booking.listing.user.email %></li><br>
  <% end %>
<% end %>
  </ol>
</section>

<section>
  <header>
    <h1 class="h3">Pending Bookings</h1>
  </header>

<ul>
<% @bookings.each do |booking|  %>
  <% if booking.status == nil && booking.start_date > Time.now %>
    <li>Service: <%= booking.listing.name %></li>
    <li>When: <%= booking.start_date.strftime("%A, %B #{booking.start_date.day.ordinalize} %Y") %> </li>
    <li>Status: Pending</li>
    <li>By: <%= booking.listing.user.email %></li><br>
  <% end %>
<% end %>
  </ol>
</section>

<section>
  <header>
    <h1 class="h3">Past Bookings</h1>
  </header>

<ul>
<% @bookings.each do |booking|  %>
  <% if booking.status && booking.start_date < Time.now %>
    <li>Service: <%= booking.listing.name %></li>
    <li>When: <%= booking.start_date.strftime("%A, %B #{booking.start_date.day.ordinalize} %Y") %> </li>
    <li>By: <%= booking.listing.user.email %></li><br>
  <% end %>
<% end %>
</ul>
</section>
